* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* ++++++ header */
header {
    background-color: white;
    height: 70px;
}
header .logo {
    padding: 10px 30px;
}
header .logo h1 {
    display: inline-block;
    font-weight: 900;
}
header .logo h1, header .logo img {
    vertical-align: middle;
}
/* ++++++ main */
body {
    background-color: rgb(246, 248, 249);
}
/* container */
main .container {
    width: 80%;
    margin: auto;
    padding: 0 40px;
    background-color: white;
}
/* pulsanti */
main .container.btns {
    margin-top: 30px;
    border-radius: 5px 5px 2px 2px;
}
main .buttons {
    padding: 15px 3px 10px 0;
}
main .buttons .btn {
    padding: 8px;
    border-radius: 5px;
    margin-right: 3px;
}
main .buttons .btn-uno {
    color: white;
    background-color: rgb(99, 171, 235);
    border: none;
}
main .buttons .btn-due {
    color: lightgray;
    border: 1px solid lightgray;
    background-color: white;
}
/* lista */
main .container.list {
    margin-top: 3px;
    border-radius: 2px 2px 5px 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(54, 54, 54);
}
main .todolist .first-item {
    list-style-image: url(../img/arrow-down.png);
    list-style-position: inside;
    margin-bottom: 20px;
}
main .todolist .second-item {
    list-style: none;
    margin: 10px 0;
    vertical-align: middle;
}
main .todolist .second-item .circle {
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;
    line-height: 18px;
    width: 20px;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
}
main .todolist .second-item .circle.tick {
    color: lightgreen;
}